html,
body {
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

header h1 {
    text-align: center;
    margin: 25px;
}

/*=================================================*/

#input {
    /*/
    outline: 1px solid rgb(102, 255, 0);
    /**/

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    /* 📱 Big smartphones */

    #input {
        grid-template-columns: 1fr;
    }
}

#input fieldset {
    border: 1px solid #ccc;
}

#input fieldset .field:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

#input fieldset .field label {
    display: block;
}

#input fieldset .field label h3 {
    margin: 0;
    margin-bottom: 7px;

    font-size: 1em;
    font-weight: bold;
}

#input fieldset .field label p {
    margin: 0;
}

#input fieldset .field input[type='range'] {
    margin-top: 20px;
    display: block;
    width: 100%;
}

#input fieldset .field output {
    display: block;
    font-style: italic;

    display: block;
    width: 100%;
    text-align: center;
}

/*=================================================*/

#output {
    margin: 0;
    padding: 35px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#output > * {
    max-width: 800px;
}

#output ol,
#output ul {
    padding-left: 0;
}

#solutions li .proscons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#solutions li .proscons ul.pros {
    color: rgb(54, 172, 54);
    list-style: none;
}

#solutions li .proscons ul.pros li::before {
    font-weight: bold;
    content: '+ ';
}

#solutions li .proscons ul.cons {
    color: #f66;
    list-style: none;
}

#solutions li .proscons ul.cons li::before {
    font-weight: bold;
    content: '- ';
}
